{% extends "base.html" %}

<body>
    {% block content %}
        <div class="card mx-auto bg-light" style="height: 50%;">
            <h1 class="card-header text-center" style="margin: 30px; padding: 30px;">SudokuAPI - Endpoints</h1>

            <div class="card mx-auto border-info" style="margin: 20px; padding: 20px;">
                <h2 class="card-header border-info" style="padding: 20px;">/v1/solve</h2>

            <div>
                <h3 style="padding: 20px;">Input example</h3>
            </div>

            <pre style="padding: 20px;"><code>
            {
                "payload": "900000000060000000027008000000000307890300000301020580000100800080075602010600009"
            }
            </code></pre>

            <div>
                <h3 style="padding: 20px;">Output example</h3>
            </div>

            <pre style="padding: 20px;"><code>
            {
                "original": "900000000060000000027008000000000307890300000301020580000100800080075602010600009",
                "solved": "938764125564291738127538964245816397896357241371429586659142873483975612712683459",
                "iterations": 5876,
                "passes": 2
            }
            </code></pre>
            </div>

            <div class="card mx-auto border-info" style="margin: 20px; padding: 20px;">
                <h2 class="card-header border-info" style="padding: 20px;">/v1/check</h2>

            <div>
                <h3 style="padding: 20px;">Input example</h3>
            </div>

            <pre style="padding: 20px;"><code>
            {
                "payload": "999900000060000000027008000000000307890300000301020580000100800080075602010600009"
            }
            </code></pre>

            <div>
                <h3 style="padding: 20px;">Output example</h3>
            </div>
            
            <pre style="padding: 20px;"><code>
            {
            "original": "999900000060000000027008000000000307890300000301020580000100800080075602010600009",
            "reason": "Invalid clues.",
            "solvable": false
            }
            </code></pre>
            </div>
        </div>
    {% endblock %}
</body>